<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/timetable4-1.css" rel="stylesheet">

    <title>Timetable</title>
</head>

<body>
<div class="container">
    <div class="topnav-wrapper">
        <div class="topnav-left-side">
            <div class="nav-link-wrapper">
                <a href="#homePageSuperAdmin.html">Admin</a>
            </div>
        </div>
        <div class="topnav-right-side">
            <div class="nav-link-wrapper">
                <a>Name Surname</a>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="sidebar">
        <a href="#admins">Admins</a>
        <a href="#settings">Settings</a>
    </div>

    <div class="main">
        <div class="main-top">
            <div class="link">
                <a href="link">Link</a>
            </div>
        </div>

        <div class="main-down">
            <form class="form-timetable" action="#">
                <div class="dates_and_create">
                    <div class="dates">
                        <div class="date_half">
                            <label>Start date</label>
                            <div class="input_left">
                                <input class="date_input" type="text" name="startDate" placeholder="Pick date" style="width: 100px;">
                            </div>
                        </div>
                        <div class="date_half">
                            <label>End date</label>
                            <div class="input_left">
                                <input class="date_input" type="text" name="startDate" placeholder="Pick date" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="create">
                        <input class="button" type="button" value="Create Timetable">
                    </div>
                </div>

                <div class="timetable">
                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Monday</a> </div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Tuesday</a></div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Wednesday</a></div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Thursday</a></div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Friday</a></div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Saturday</a></div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>

                    <div class="dayOfWeek">
                        <div class="dayHeader"><a>Sunday</a></div>
                        <div class="lessons"></div>
                        <div class="add">
                            <input class="plus" type="button" value="+">
                        </div>
                    </div>
            </form>
        </div>
    </div>
</body>

</html>